#title{
    
    
    border-bottom: solid;
    border-color: #465e96;
    border-width: 1px;
    color:  #465e96;
    
}
#subtitle{
    
    
    font-size: 95%;
    color: #898a89;

}

#mail{
    
    color:#ec6c44 ;
    
}
.limail{
    line-height: 0%;
}
#web{
    line-height: 0%;
    color:#ec6c44;
}
#tel{
    line-height: 0%;
}

.list{

    padding-top: 1%;
    padding-bottom: 6%;
}
body{
    
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 77%;
    margin-left: 1%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    border-style: solid;
    border-color: #323333;
    border-width: 1px;
    
}